<app-navbar></app-navbar>
<div class="flex justify-center mt-4 px-2">
    <div class="h-auto w-full max-w-[90vw] grid grid-cols-12 gap-4 md:h-[80vh] md:w-[80vw] ">
        <div
            class="col-span-12 md:col-span-4 relative sticky top-0 p-4 text-center rounded-lg shadow-lg bg-white/70 backdrop-blur-sm">
            <h1 class="text-black text-lg font-bold">FILTERS</h1>

            <div class="mt-3 space-y-3">
                <app-filters [clearStatus]="filterApplied" (appendSelected)="onSelectOption($event,'films')"
                    [uniqId]="'films'"></app-filters>
                <app-filters [clearStatus]="filterApplied" (appendSelected)="onSelectOption($event,'species')"
                    [uniqId]="'species'"></app-filters>
                <app-filters [clearStatus]="filterApplied" (appendSelected)="onSelectOption($event,'vehicles')"
                    [uniqId]="'vehicles'"></app-filters>
                <app-filters [clearStatus]="filterApplied" (appendSelected)="onSelectOption($event,'starships')"
                    [uniqId]="'starships'"></app-filters>
            </div>

            <div class="flex justify-center gap-2 mt-4 flex-wrap md:absolute md:bottom-[13px] md:right-[14px]">
                <button (click)="searchFilter()" [ngClass]="!checkDisableFun() ? 'bg-green-500' : 'bg-gray-400'"
                    class="w-24 text-white rounded-md p-1">Filter</button>

                <button (click)="clearFilter()" [ngClass]="checkDisableFun() ? 'bg-gray-400' : 'bg-red-500'"
                    class="w-24 text-white rounded-md p-1">Clear</button>
            </div>
        </div>

        <div
            class="col-span-12 md:col-span-8 p-2 md:p-4 rounded-lg shadow-lg bg-white/60 backdrop-blur-sm overflow-auto">
            <h1 class="text-black text-lg font-bold mb-2">SEARCH RESULTS</h1>
            <div style="scrollbar-width: none;"
                class="overflow-auto max-h-[50vh] md:max-h-[70vh] rounded-lg shadow-inner">
                <table class="w-full table-auto text-sm text-gray-900">
                    <thead class="sticky top-0 bg-gray-800 bg-opacity-70 text-white">
                        <tr class="bg-gray-800">
                            <th class="px-4 py-2">Sl.no</th>
                            <th class="px-4 py-2">Character Name</th>
                            <th class="px-4 py-2">Species</th>
                            <th class="px-4 py-2">Films</th>
                            <th class="px-4 py-2">Vehicles</th>
                            <th class="px-4 py-2">Starships</th>
                            <th class="px-4 py-2">Birth year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="onClickCharacter(Character)"
                            *ngFor="let Character of filterApplied ? filteredPeopleData : paginatedPeople; let i = index"
                            class="cursor-pointer even:bg-white/30 odd:bg-white/50 hover:bg-gray-200/60">
                            <td class="px-4 py-2">{{ i + 1 }}</td>
                            <td class="px-4 py-2">{{Character.name}}</td>
                            <td class="px-4 py-2">{{getSpecies(Character.species,'specie')}}</td>
                            <td class="px-4 py-2">{{getSpecies(Character.films,'F')}}</td>
                            <td class="px-4 py-2">{{getSpecies(Character.vehicles,'V')}}</td>
                            <td class="px-4 py-2">{{getSpecies(Character.starships,'S')}}</td>
                            <td class="px-4 py-2">{{Character.birth_year}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center mt-2 font-bold" *ngIf="filterApplied&&filteredPeopleData.length ==0 ">No Data
                </div>
                <div *ngIf="filmsFilterArray.length==0 && speciesFilterArray.length==0 &&vehiclesFilterArray.length==0 && starshipsFilterArray.length==0"
                    class="flex justify-end  items-center mt-[10px]">
                    <div
                        class="flex flex-wrap md:flex-nowrap justify-center items-center space-x-2 md:fixed md:top-[76vh]">
                        <button (click)="prevPage()" [disabled]="pageIndex === 0" class="px-3 py-1 bg-gray-300 rounded">
                            &lt;
                        </button>
                        <button *ngFor="let page of visiblePages; let i = index" (click)="goToPage(page)"
                            [style.background-color]="pageIndex === page? '#000000':''"
                            [class.text-white]="pageIndex === page" class="px-3 py-1 bg-gray-300 rounded">
                            {{page + 1}}
                        </button>
                        <button (click)="nextPage()" [disabled]="pageIndex >= totalPages - 1"
                            class="px-3 py-1 bg-gray-300 rounded">
                            &gt;
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>