/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

body {
  // background-image: url("./assets/background_navbar.jpg");
  background: linear-gradient(160deg, #0d0d1a 0%, #1a1a2e 50%, #0f0f1f 100%);
  /* optional: add a subtle purple glow */
  background: radial-gradient(circle at top right, #3b0080, #0d0d1a 70%);
  background-size: cover;
  /* cover full area */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* keeps background fixed on scroll */
  background-position: center;
  min-height: 100%;
  /* ensure full height even if content grows */
}